<!DOCTYPE html>
<html>
<head>
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="SMWS Codes">

    <meta name="description" content="A mobile-optimised guide to the distillery codes used by the Scotch Malt Whisky Society. Add it to your home screen and it will work offline too!">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/touch-icon-iphone-57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/touch-icon-ipad-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/touch-icon-iphone-114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/touch-icon-iphone-120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/touch-icon-ipad-144.png">

    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">

    <title>SMWS Codes</title>
    {% block head %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
<script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/sw.js')
    .then(reg => console.log('Service Worker registered'))
    .catch(err => console.log('Service Worker registration failed:', err));
}
</script>
</body>
</html>